.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 10px;
}

.header a {
  font-family: Consolas,"Microsoft Yahei","Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #000000; 
  font-size: 25px; 
  transition: all 0.2s ease-in-out;
}

.header a:hover {
  color: #770086;
  text-shadow: 6px 6px 4px rgb(255, 160, 242);
}

.new-button a {
  font-size: 28px;
}

.login-button a {
  font-size: 25px;
}

.search-bar input {
  height: 25px;
  border: 2px solid #000000;
  background-color: white;
  color: #000000; 
  font-family: Consolas,"Microsoft Yahei","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.search-bar input:hover {
  border: 2px solid #000000;
  color: #770086;
  box-shadow: 3px 3px 3px rgb(255, 160, 242);
}


.footer {
  color: #616138; 
  font-family: Georgia;
  font-size: 15px; 
  font-weight: normal; 
  text-align: center;
  margin: 10px auto;
}

.footer a {
  text-decoration: none;
  color: #616138; 
}

.footer a:hover {
  color: #616138; 
}

@media only screen and (max-width: 600px) {
  .header {
    /*
    flex-direction: column;
    justify-content: center;
    */
    margin: 5px;
  }
  .title a {
    font-size: 18px;
  }
  .new-button a {
    font-size: 20px;
  }
  .login-button a {
    font-size: 18px;
  }
  .search-bar input {
    height: 20px;
    font-size: 12px;
  }
}
