body {
  background-color: #ffffff;
  max-width: 45em;
  margin: 0 auto;
}

.loading {
  text-align: center;
}

/* Beter React-Markdown style: */
code {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  background: #ffffff;
}

blockquote {
  background: #ffffff;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

/* Fancy Line */
hr.fancy-line { 
  border: 0; 
  height: 1px;
  position: relative;
  
}

hr.fancy-line:before {
  top: -0.1em;
  height: 1em;
}

hr.fancy-line:after {
  content:'';
  height: 0.1em;   /* half the height of :before */
  top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
  content: '';
  position: absolute;
  width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
  background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}
