.milkdown {
  max-width: unset !important; /* override */
  width: 100%;
  padding: 5px !important;
  font-family: 'Merriweather', serif !important;
}

blockquote > * {
  margin: 5px 0px !important;
}

h1.heading {
  font-size: 1.5rem !important;
  line-height: 1.5em !important;
  margin: 5px 0px !important;
  font-weight: bold !important;
}

h2.heading {
  font-size: 1.3rem !important;
  line-height: 1.5em !important;
  margin: 5px 0px !important;
  font-weight: bold !important;
}

h3.heading {
  font-size: 1.1rem !important;
  line-height: 1.25em !important;
  margin: 5px 0px !important;
  font-weight: bold !important;
}

h4.heading, h5.heading, h6.heading {
  font-size: 1rem !important;
  margin: 5px 0px !important;
  font-weight: bold !important;
}

code {
  background-color: #ECEFF4; /* silly fix... */
}

.ProseMirror > * {
  margin: 5px 0px !important; /* override margin */
}